---
import type { Profile } from "~/models/profile";

interface Props {
  profile: Profile;
  resume?: any;
  avatarRing: boolean;
}

const { profile, avatarRing = false, resume } = Astro.props;
---

<div class="card shadow-lg compact bg-base-100">
  <div class="grid place-items-center py-8">
    <div class="avatar opacity-90">
      <div
        class={`mb-8 rounded-full w-32 h-32 ${
          avatarRing
            ? "ring ring-primary ring-offset-base-100 ring-offset-2"
            : ""
        }`}
      >
        <img src={profile.avatar} alt={`Avatar of ${profile.name}`} />
      </div>
    </div>
    <div class="text-center mx-auto px-8">
      <h5 class="font-bold text-2xl">
        <span class="text-base-content opacity-70">
          {profile.name}
        </span>
      </h5>
      <div class="mt-3 text-base-content text-opacity-60 font-mono">
        {profile.bio}
      </div>
    </div>
    {
      resume && (
        <a
          href={resume.fileUrl}
          target="_blank"
          class="btn btn-outline btn-sm text-xs mt-6 opacity-50"
          download
          rel="noreferrer"
        >
          Download Resume
        </a>
      )
    }
  </div>
</div>
