---
import type { Blog } from '~/models/blog';
import { getMediumPost } from '@arifszn/blog-js';
import DateDistance from '../DateDistance.astro';

interface Props {
  blog: Blog;
}

const { blog } = Astro.props;

const articles = await getMediumPost({user: 'christian.sarnataro'});

---

<div class="col-span-1 lg:col-span-2">
    <div class="grid grid-cols-2 gap-6">
      <div class="col-span-2">
        <div
          class={`card compact bg-base-100 shadow bg-opacity-40`}
        >
          <div class="card-body">
            <div class="mx-3 mb-2">
              <h5 class="card-title">
                  <span class="text-base-content opacity-70">
                    Recent Posts
                  </span>
              </h5>
            </div>
            <div class="col-span-2">
              <div class="grid grid-cols-1 gap-6">
{
articles.slice(0, blog.limit).map((article) => (
        <a
          class="card shadow-lg compact bg-base-100 cursor-pointer"
          href={article.link}
          target="_blank"
        >
          <div class="p-8 h-full w-full">
            <div class="flex items-center flex-col md:flex-row">
              <div class="avatar mb-5 md:mb-0 opacity-90">
                <div class="w-24 h-24 mask mask-squircle">
                  <img
                    src={article.thumbnail}
                    alt={'thumbnail'}
                  />
                </div>
              </div>
              <div class="w-full">
                <div class="flex items-start px-4">
                  <div class="text-center md:text-left w-full">
                    <h2 class="font-semibold text-base-content opacity-60">
                      {article.title}
                    </h2>
                    <p class="text-base-content opacity-50 text-xs">
                      <DateDistance date={article.publishedAt}>{article.publishedAt?.toDateString()}</DateDistance>
                    </p>
                    <p class="mt-3 text-base-content text-opacity-60 text-sm">
                      {article.description}
                    </p>
                    <div class="mt-4 flex items-center flex-wrap justify-center md:justify-start">
                      {article.categories.map((category) => (
                        <div
                          class="py-2 px-4 text-xs leading-3 rounded-full bg-base-300 mr-1 mb-1 opacity-50 text-base-content"
                        >
                          #{category}
                        </div>
                      ))}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      ))    
}


</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>